:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #1d1321;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-image: url("new lbc.jpg");
      background-color: #cccccc;
      height: 700px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 70px;
    line-height: 60px;
    height: 140px;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#cart-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}
